body {
    /* background-image: url('../background.jpg');
    background-repeat: no-repeat;
    background-size: cover; */

    background: url('../background.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: relative;
  background-color: green;
}

form{
  display: grid;
  /* align-items: center; */
  justify-content: center;
  padding: 10px;
  width: 300px;
  background-color: hsla(120, 100%, 50%, 0.3);

}